/*Это css-файл, отвечающий за стилизацию эффекта пульсации при нажатии*/
/*Для того, чтобы применить его к элементу просто присвойте ему класс "pulse"*/
/*Заметьте, если у этого элемента position absolute или fixed, то в этом файле необходимо удалить строку (1), иначе вся конструкция сайта испортится*/

/*Изменяйте значения согласно вашему предпочтению. Я написал, где что находится*/

.pulse{
    position: relative;/*(1)*/
    overflow: hidden; /*Не рекомендуется менять. Все, что внутри элемента не будет выступать за его границы*/
}
.pulse-circle{
    position: absolute;/*Не рекомендуется менять*/
    border-radius: 50%;/*Не рекомендуется менять. Для того, чтобы был круг, а не квадрат при нажатии*/
    background: #00ffff;/*Цвет круга. Можно менять в HEX формате на любой другой*/
    opacity: 0.8;/*Непрозрачность круга. Можно менять. 1-непрозрачный 0-полностью прозрачный*/
    transform: scale(0);/*Не рекомендуется менять*/
    transition: all 1s;/*Длительность анимации (расширения круга до предела)*/
    z-index: 200;/*Не рекомендуется менять*/
    
}





/*Эффект перехода между страницами*/
.next-effect{
    position: fixed;/*Не рекомендуется менять*/
    border-radius: 50%;/*Не рекомендуется менять. Для того, чтобы был круг, а не квадрат при нажатии*/
    background: #f5f5f5;/*Цвет круга. Можно менять в HEX формате на любой другой*/
    opacity: 1;/*Непрозрачность круга. Можно менять. 1-непрозрачный 0-полностью прозрачный*/
    transform: scale(0);/*Не рекомендуется менять*/
    transition: all 1s;/*Длительность анимации (расширения круга до предела)*/
    z-index: 300;/*Не рекомендуется менять*/
}