@media screen and (max-width: 767px)
	.menu-inside a
		font-size: $big-font-mobile
		width: 140px
	.site 
		.main 
			p.pushing
				font-size: $middle-font-mobile + 10px
			small
				font-size: $middle-font-mobile
			a.btn
				$height: 60px
				height: $height
				line-height: $height
				width: 300px
				font-size: $middle-font-mobile
		.skills
			.col-md-6 h1
				margin:
					top: 80px
					bottom: 50px
			.col-md-10
				margin-bottom: 80px
				.skill
					height: 80px
					.max_line
						width: 100%
						height: $middle-font - 5px
						top: 50px - ($middle-font - 5px) / 2
						left: 0%