.site::-webkit-scrollbar
	 width: 5px
.site::-webkit-scrollbar-button
	width: 0
	height: 0
.site::-webkit-scrollbar-track
	background-color: #fff
.site::-webkit-scrollbar-track-piece
	width: 0
	height: 0
.site::-webkit-scrollbar-thumb
	background-color: #000
.site::-webkit-scrollbar-corner
	width: 0
	height: 0
.site::-webkit-resizer
	width: 0
	height: 0