//font-sizes
$font-normal       : 16px
$big-font          : 36px
$big-font-mobile   : 20px
$middle-font       : 24px
$middle-font-mobile: 18px

//colors
$primary-color     : #fff
$contrast-color    : #000

$skills-line-color : #00e676

//sizes and indents
$big-indent        : 160px
$small-indent      : 100px