@import vars
@import fonts
@import reset
@import scrollbar

%center-element
	display: flex
	justify-content: center
	align-items: center
	
//main styles sass

body
	perspective: 1000px
	overflow: hidden
	background-color: #388E3C

.site
	height: 100vh
	width: 100%
	background-color: $primary-color
	overflow-x: hidden
	overflow-y: auto
	position: relative
	transition: .5s
	z-index: 100
	//transform: rotateY(-20deg)
	&-open
		transform: rotateY(-20deg) translateX(100px) scale(.5)
	
	header
		width: 100%
		background-color: $primary-color
		//border: 1px solid #000
		.row
			height: 200px
			.menu-wrapper, .title-wrapper
				@extend %center-element
			.menu-wrapper menu
				height: 50px
				width: 50px
				border-radius: 50%
				cursor: pointer
				box-shadow: 1px 2px 10px #a5a5a5
				position: relative
				.line
					position: absolute
					background-color: $contrast-color
					width: 50%
					height: 2px
					left: 25%
					&.first
						top: 30%
					&.second
						top: calc(50% - 1px)
					&.third
						bottom: 30%
			.title-wrapper h1
				font-size: $big-font 
				font-weight: 400
				user-select: none
//floating Menu btn
.float_btn
	position: fixed
	width: 100%
	top: -100px
	transition: .5s
	z-index: 102
	&.showed
		top: 0
	.row
		height: 100px
		.col-md-2
			@extend %center-element
.floatingMenuBtn
	height: 50px
	width: 50px
	border-radius: 50%
	cursor: pointer
	box-shadow: 1px 2px 10px #a5a5a5
	position: relative
    //top: -60px
	background-color: #fff
	transition: .5s
	.line
		position: absolute
		background-color: $contrast-color
		width: 50%
		height: 2px
		left: 25%
		&.first
			top: 30%
		&.second
			top: calc(50% - 1px)
		&.third
			bottom: 30%


.menu
	position: fixed
	width: 50%
	height: 100vh
	display: flex
	justify-content: center
	align-items: center
	z-index: 99
	.close-menu
		position: absolute
		height: 50px
		width: 50px
		top: 10%
		cursor: pointer
		.line
			position: absolute
			background-color: #fff
			width: 100%
			height: 2px
			top: calc(50% - 1px)
			&.first
				transform: rotate(45deg)
			&.second
				transform: rotate(-45deg)
	&-inside
		display: flex
		flex-direction: column
		justify-content: space-around
		height: 50vh
		a
			color: #fff 
			font-size: $big-font
			display: block
			height: 70px
			line-height: 70px
			width: 240px
			//transition: all .5s, color .2s
			//background-color: #000
			text-align: center
			text-transform: uppercase
			transform: translateX(-50vw)
			position: relative
			@for $n from 1 through 5
				&:nth-child(#{$n})
					transition: all .5s, transform .5s $n*.1s, color .2s
			&::before, &::after
				content: ''
				display: block
				position: absolute
				background-color: #fff
				height: 2px
				width: 20%
				top: calc(50% - 1px)
				transition: .5s
				opacity: 0
			&::before
				left: -20%
				transform: translateX(50%)
			&::after
				right: -20%
				transform: translateX(-50%)
			&:hover
				color: $hover-color
				&::before, &::after
					transform: translateX(0)
					opacity: 1
					background-color: $hover-color
			
.menu.open
	z-index: 101
	a
		transform: translateX(0)

//sections
.site
	section
		width: 100%
	//main*************************************************************
	.main
		background:
			color: rgba(139, 195, 74, 0)
			//image: url(../img/bg.jpg)
			size: auto 100%
			repeat: repeat
			position: center 0
		height: auto
		min-height: calc(100vh - 200px)
		padding-bottom: 100px
		a.btn
			$height: 80px
			display: block
			height: $height
			width: 400px
			line-height: $height
			text-align: center
			border-radius: 5px
			background-color: $button-color
			color: #fff
			font-size: $middle-font
			margin: 
				top: 30px
				left: auto
				right: auto
			transition: .3s
			box-shadow: -1px 2px 6px lighten($button-color, 0%)
			&:hover 
				background-color: lighten($button-color, 10%)
				box-shadow: 0px 4px 8px lighten($button-color, 0%)
		p.pushing
			font-size: $middle-font + 10px
			width: 100%
			text-align: center
			padding-top: $big-indent
		small
			display: block
			width: 100%
			text-align: center
			font-size: $middle-font
			margin-top: $small-indent
	//about*************************************************************
	.about
		background-color: rgba(0, 0, 0, 0.05)
		min-height: 100vh
		.row 
			min-height: 100vh
		.col-md-10
			@extend %center-element
			.card
				width: 100%
				background: #fff
				margin: 50px 0
				padding: $small-indent / 2
				border-radius: 20px
				box-shadow: -5px 5px 30px rgba(0, 0, 0, 0.2)
				h1
					text-transform: uppercase
					width: 100%
					text-align: center
					font-size: $big-font
					font-weight: 400
					margin:
						top: $big-indent / 2
						bottom: $small-indent / 2
				p
					text-align: center
					font-weight: 300
					font-size: $font-normal + 2px
					margin-bottom: $small-indent / 4
					
	//skills*************************************************************
	.skills
		background-color: #fff
		height: auto
		min-height: 100vh
		.col-md-6 h1
			width: 100%
			text-align: center
			font-size: $big-font
			font-weight: 400
			text-transform: uppercase
			margin:
				top: $big-indent
				bottom: $small-indent
		.col-md-10
			display: flex
			flex-direction: column
			align-items: center
			.skill
				width: 100%
				height: 50px
				position: relative
				h3.name
					display: block
					line-height: 50px
					font-size: $middle-font - 5px
					font-weight: 400
				.max_line
					position: absolute
					width: 75%
					height: $middle-font - 5px
					top: 25px - ($middle-font - 5px) / 2
					left: 25%
					border-radius: 999px
					//background-color: lighten($skills-line-color, 50%)
					@each $number, $color in $skills-line-colors
						&.n-#{$number}
							background-color: lighten($color, 40%)
							
					.line
						position: absolute
						height: 100%
						left: 0
						top: 0
						transition: 1s cubic-bezier(.8, .01, .2, 1)
						width: 0
						//background-color: $skills-line-color
						//border-radius: 5px
						border-radius: 999px
						//@for $i from 1 through 7
							&.n-#{$i}
								transition-delay: ($i - 1) * 0.2s
								&::before
									transition-delay: ($i - 1) * 0.2s
						@each $number, $color, $font in $skills-line-colors
							&.n-#{$number}
								background-color: $color
								box-shadow: 0px 1px 5px lighten($color, 10%)
								&::before
									color: $font
						&::before
							display: block
							position: absolute
							//left: 5px
							right: 5px
							top: 0
							font-size: $middle-font - 10px
							opacity: 0
							transition: 1s
						&.n-1::before
							content: '90%'
						&.n-2::before
							content: '80%'
						&.n-3::before
							content: '95%'
						&.n-4::before
							content: '85%'
						&.n-5::before
							content: '70%'
						&.n-6::before
							content: '75%'
						&.n-7::before
							content: '85%'
						&.n-8::before
							content: '80%'
		.col-md-10
			.skill
				.max_line
					.line.active
						&::before
							opacity: 1
						&.n-1
							width: 90%
						&.n-2
							width: 80%
						&.n-3
							width: 95%
						&.n-4
							width: 85%
						&.n-5
							width: 70%
						&.n-6
							width: 75%
						&.n-7
							width: 85%
						&.n-8
							width: 80%
	//portfolio*************************************************************
	.portfolio
		background-color: rgba(0, 0, 0, 0.05)
		min-height: 100vh
		height: auto
		.col-md-6 h1
			width: 100%
			text-align: center
			font-size: $big-font
			font-weight: 400
			text-transform: uppercase
			margin:
				top: $big-indent
				bottom: $small-indent
		.row .col-md
			display: flex
			justify-content: space-around
			flex-wrap: wrap
			.work
				@each $n, $bg in $portfolio-bg-colors
					&.n-#{$n}
						background-color: lighten($bg, 30%)
				overflow: hidden
				height: 300px
				width: 300px
				//background-color: $skills-line-color
				margin-bottom: 50px
				border-radius: 5px
				cursor: pointer
				position: relative
				&::before
					content: ''
					display: block
					position: absolute
					left: 0
					top: 0
					width: 100%
					height: 100%
					opacity: 0
					background: rgba(0, 0, 0, 0.3)
					transition: .5s
					z-index: 1
				&:hover::before
					opacity: 1
				&:hover img
					transform: scale(1.1)
				img
					width: 100%
					height: 100%
					transition: .5s
	//contacts*************************************************************
	.contacts
		background-color: rgba(205, 220, 57, 0)
		min-height: 100vh
	//footer*************************************************************
	footer
		min-height: 50vh
		background-color: #212121




























@import media