@import vars
@import fonts
@import reset

//Mixins
=center($fxd: row)
    display: flex
    align-items: center
    justify-content: center
    flex-direction: $fxd

=trs($time: .3, $prop: all)
    transition: #{$prop} #{$time}s 


//Main styles
body
    header.header
        height: 100px
        background-color: #00BF57
        width: 100%
        .wrapper
            max-width: 1170px
            height: 100%
            margin: auto
            position: relative
            .backward
                position: absolute
                left: 50px
                height: 100%
                cursor: pointer
                top: 0
                i
                    line-height: 100px
                    font-size: 70px
                    color: #ffffff
            .menu
                position: absolute
                right: 50px
                height: 100%
                width: 50px
                text-align: center
                cursor: pointer
                top: 0
                i
                    line-height: 100px
                    font-size: 40px
                    color: #ffffff
                    width: 100%
            .title
                height: 100%
                margin-left: 100px
                display: flex
                align-items: center
                user-select: none
                .avatar
                    height: 64px
                    width: 64px
                    border-radius: 50%
                    background-color: #fff
                    cursor: pointer
                    margin:
                        left: 20px
                        right: 20px
                .name
                    font-size: 22px
                    color: #ffffff
                    cursor: pointer

    .chat_list
        max-width: 1170px
        margin: auto
        overflow-y: auto
        height: calc(100vh - 170px)
        max-height: calc(100vh - 170px)
        .message
            min-height: 50px
            width: 100%
            cursor: pointer
            font-size: 22px
            display: flex
            align-items: center
            padding: 0 10px
            margin: 
                top: 10px
                bottom: 10px
            &.my
                .msg
                    background-color: #D4D4D4
            &.nmy
                flex-direction: row-reverse
                .msg
                    background-color: #F3F3F3
            .msg
                height: 100%
                padding: 20px
                word-break: break-all
            &:hover
                background-color: rgba(0,0,0,0.03)
                
    footer
        position: absolute
        bottom: 0
        width: 100%
        height: 70px
        background-color: #f0f0f0
        .wrapper
            margin: auto
            max-width: 1170px
            form, input, button
                display: block
            form
                width: 100%
                height: 70px
                position: relative
                input
                    background-color: rgba(0, 0, 0, 0)
                    border: none
                    outline: none
                    height: 70px
                    max-width: 1000px
                    width: 100%
                    font-size: 22px
                    padding-left: 30px
                button
                    position: absolute
                    right: 0px
                    top: 0
                    height: 70px
                    width: 70px
                    border: none 
                    cursor: pointer
                    background-color: rgba(0,0,0,0)
                    i 
                        font-size: 40px


@media screen and (max-width: 768px)
    body 
        header.header
            height: 70px
            background-color: #000
            .wrapper 
                .backward 
                    left: 10px
                    i 
                        line-height: 70px
                        font-size: 50px
                .menu 
                    right: 10px
                    i
                        line-height: 70px
                        font-size: 30px
                .title
                    margin-left: 50px
                    .avatar 
                        height: 40px
                        width: 40px
        .chat_list
            height: calc(100vh - 140px)
            max-height: calc(100vh - 140px)